<div class="page-header">
  <h1>Thông tin tài khoản</h1>
</div>  <!-- /.page-header -->

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/dashboard">Quản trị</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/profile/form">Tài khoản</a>
  </li>
  <li class="breadcrumb-item active">Thông tin tài khoản</li>
</ol>  <!-- /.breadcrumb -->

<div class="row">
  <div class="col-sm-4">
    <div class="box is-top">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Địa chỉ Email</label>
          
          <input type="text" class="form-control" formControlName="email" title="">
          
          <p *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
            <small *ngIf="email.errors.required">
              Vui lòng nhập email
            </small>
            
            <small *ngIf="email.errors.email">
              Email không đúng định dạng
            </small>
          </p>
        </div>
        <!-- ./form-group -->
        
        <div class="form-group">
          <label>Họ Tên</label>
          
          <input type="text" class="form-control" formControlName="fullName" title="">
          
          <p *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="text-danger">
            <small *ngIf="fullName.errors.required">
              Vui lòng nhập họ tên
            </small>
          </p>
        </div>
        <!-- ./form-group -->
        
        <div class="form-group">
          <label>Số điện thoại</label>
          
          <input type="text" class="form-control" formControlName="phone" title="">
          
          <p *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger">
            <small *ngIf="phone.errors.required">
              Vui lòng nhập số điện thoại
            </small>
          </p>
        </div>
        <!-- ./form-group -->
        
        <button class="btn btn-primary btn-block" [disabled]="!form.valid" type="submit">
          Cập nhật thông tin
        </button>
      </form>
    </div>  <!-- /.box -->
  </div>
</div>

