<form class="form-reset" [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <h2>
    Khôi phục mật khẩu
  </h2>
  
  <div class="form-group">
    <label>Địa chỉ Email</label>
    
    <input type="text" class="form-control" formControlName="email" title="">
    
    <p *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
      <small *ngIf="email.errors.required">
        Vui lòng nhập email
      </small>
      
      <small *ngIf="email.errors.email">
        Email không đúng định dạng
      </small>
    </p>
  </div>
  <!-- ./form-group -->
  
  <div class="form-group">
    <label>Mã xác nhận</label>
    
    <input type="text" class="form-control" formControlName="accessCode" title="">
    
    <p *ngIf="accessCode.invalid && (accessCode.dirty || accessCode.touched)" class="text-danger">
      <small *ngIf="accessCode.errors.required">
        Vui lòng nhập mã xác nhận
      </small>
    </p>
  </div>
  <!-- ./form-group -->
  
  <div class="form-group">
    <label>Mật khẩu</label>
    
    <input type="password" class="form-control" ngbButton formControlName="new_password" title="">
    
    <p *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)" class="text-danger">
      <small *ngIf="new_password.errors.required">
        Vui lòng nhập mật khẩu mới
      </small>
    </p>
  </div>
  <!-- ./form-group -->
  
  <div class="form-group">
    <label>Mật khẩu xác nhận</label>
    
    <input type="password" class="form-control" ngbButton formControlName="confirm_password" title="">
    
    <p *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)" class="text-danger">
      <small *ngIf="confirm_password.errors.required">
        Vui lòng nhập mật khẩu xác nhận
      </small>
    </p>
  </div>
  <!-- ./form-group -->
  
  <div class="text-center">
    <label>
      <a routerLink="/auth/login">Quay về đăng nhập</a>
    </label>
  </div>
  
  <button class="btn btn-primary btn-block" [disabled]="!form.valid" type="submit">
    Khôi phục
  </button>
</form>
