<!--<toaster-container></toaster-container>-->

<div *ngIf="!key || key != 'abcxyz'" class="form-reset">
  <h2>
    Mã xác nhận không hợp lệ. <br>Vui lòng kiểm tra lại
  </h2>
</div>

<form *ngIf="key === 'abcxyz'" class="form-reset" [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <h2>
    Khôi phục mật khẩu
  </h2>
  
  <div class="form-group">
    <label>Mật khẩu</label>
    
    <input type="password" class="form-control" ngbButton formControlName="password" title="">
    
    <p *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
      <small *ngIf="password.errors.required">
        Vui lòng nhập mật khẩu
      </small>
    </p>
  </div>
  <!-- ./form-group -->
  
  <div class="form-group">
    <label>Mật khẩu xác nhận</label>
    
    <input type="password" class="form-control" ngbButton formControlName="confirm_password" title="">
    
    <p *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)" class="text-danger">
      <small *ngIf="confirm_password.errors.required">
        Vui lòng nhập mật khẩu xác nhận
      </small>
    </p>
  </div>
  <!-- ./form-group -->
  
  <div class="text-center">
    <label>
      <a routerLink="/auth/login">Quay về đăng nhập</a>
    </label>
  </div>
  
  <button class="btn btn-primary btn-block" [disabled]="!form.valid" type="submit">
    Khôi phục
  </button>
</form>
