<div class="page-header">
  <h1>{{ title }}</h1>
</div>
<!-- /.page-header -->

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/">Quản trị</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/category/list">Danh mục</a>
  </li>
  <li class="breadcrumb-item">
    Điện tử
  </li>
  <li class="breadcrumb-item active">Danh sách</li>
</ol>
<!-- /.breadcrumb -->

<!--<ol class="breadcrumb">-->
<!--<li class="breadcrumb-item">-->
<!--<a routerLink="/dashboard">Quản trị</a>-->
<!--</li>-->
<!--<li class="breadcrumb-item">-->
<!--<a routerLink="/email/list">Email</a>-->
<!--</li>-->
<!--<li class="breadcrumb-item active">-->
<!--{{model._id ? 'Cập nhật' : 'Thêm mới'}}-->
<!--</li>-->
<!--<li *ngIf="model._id" class="breadcrumb-item active">-->
<!--{{model.title}}-->
<!--</li>-->
<!--</ol> -->
<!-- /.breadcrumb -->
